/* $Id$ */

div.version { 
	width: 80%; 
	border: none; 
	text-align: center;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	background-color: #aaaaff
}

div.unix { 
	width: 80%; 
	border: none; 
	color: #006600; 
	background-color: #eeeeee 
}
